---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #828282;
$background-color: #000;
$brand-color:      #2a7ae2;

$grey-color:       #fff;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1024px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
$light-black: #1A1A1A;
a {
  color: #fff;
  text-decoration: underline;
  &:hover,
  &:active,
  &:visited {
    @extend a;
  }
}

.site-nav {
  background: $light-black;
  width: 100%;
  float: left;
  padding: 0 30px;
  line-height: 36px;
  text-transform: lowercase;
  .page-link {
    text-decoration: none;
    color: #fff;
  }
}
.site-footer,
.site-header {
  border: 0;
}
.site-footer {
  background: $light-black;
}
#main {
  width: 80%;
  float: left;
}
#sidebar {
  width: 20%;
  float: left;
}
#discography {
  li {
    list-style-type: none;
  }
  ul {
    margin: 0;
  }
  img {
    width: 100%;
  }
}
@include media-query($on-palm) {
  #sidebar,
  #main {
    width: 100%;
  }
  .logo-img {
    width: 60%;
  }
  .site-nav {
    width: auto;
    float: right;
    padding: 0;
  }
  #sidebar li {
    display: inline-block;
    width: 46%;
  }
}
