@import "compass/reset";
@import "../fontsm/sass/font-awesome.scss";
body {
  font-family: 'Lato', sans-serif;
}
a {
  color: #000;
  text-decoration: none;
}
p {
  font-size: 1em;
  line-height: 1.6em;
  padding: 10px 20px;
}
#jp_container_1 {
  color: #fff;
  bottom: 0;
  background: #000;
  width: 100%;
  padding: 10px;
  a {
    color: #fff;
    i {
      font-size: 1.5em;
    }
  }
  .jp-controls {
    width: 100%;
    padding: 10px 0;
    li {
      display: inline;
    }
    h1 {
      color: #fff;
    }
  }
  .jp-playlist-item {
    font-weight: 100;
    opacity: .7;
    font-size: .7em;
    line-height: 1.6em;
  }
  .jp-playlist, .jp-playlist-current {
    display: inline-block;
  }
  .jp-playlist-current {
    font-weight: bold;
    opacity: 1;
  }
  .jp-current-time, .jp-duration {
    display: none;
  }
}
#slides img {
  width: 50%;
  float: left;
}
