<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div id="main">
          {{ content }}
        </div>
        <div id="sidebar">
          <img src="https://f4.bcbits.com/img/0003399124_10.jpg" />
          <h3>Mørkt kapittel</h3>
          <div id="discography" class="sidebar peekaboo-list">
            <h3 class="title"><a href="https://morktkapittel.bandcamp.com/music" class="link-and-title primaryText">discography</a></h3>
            <ul>


                    <li>

                        <div>
                            <a class="thumbthumb " href="https://morktkapittel.bandcamp.com//album/agenda-split-7">

                            <img src="https://f4.bcbits.com/img/a4075147386_7.jpg">


                            </a>
                        </div>

                        <div class="trackTitle"><a href="https://morktkapittel.bandcamp.com//album/agenda-split-7">Agenda split 7"</a></div>

                        <div class="trackYear secondaryText">Aug 2014</div>

                    </li>


                    <li>

                        <div>
                            <a class="thumbthumb " href="https://morktkapittel.bandcamp.com//album/gro-igjen">

                            <img src="https://f4.bcbits.com/img/a1551662434_7.jpg">


                            </a>
                        </div>

                        <div class="trackTitle"><a href="https://morktkapittel.bandcamp.com//album/gro-igjen">Gro Igjen</a></div>

                        <div class="trackYear secondaryText">May 2013</div>

                    </li>


                    <li>

                        <div>
                            <a class="thumbthumb " href="https://morktkapittel.bandcamp.com//album/m-rkt-kapittel">

                            <img src="https://f4.bcbits.com/img/a0729175068_7.jpg">


                            </a>
                        </div>

                        <div class="trackTitle"><a href="https://morktkapittel.bandcamp.com//album/m-rkt-kapittel">Mørkt kapittel</a></div>

                        <div class="trackYear secondaryText">Apr 2010</div>

                    </li>

            </ul>
            </div>
        </div>

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
